{% extends 'nasdaqstat/base_nasdaqstat.html' %}
{% block title %}
  Insider Trades {{ ticker }} - {{ block.super }}
{% endblock%}
{% block content %}
  <div class="row">
    <div class="col-7 ml-3">
      <div class="d-flex justify-content-between">
        <div class="p-2" style="margin-left: -200px;">
          <div>
            <h2>{{ ticker }}</h2>
          </div>
        </div>
      </div>
      <div style="margin-left: -200px;">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Insider</th>
              <th scope="col">Relation</th>
              <th scope="col">Last Date</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">Owner Type</th>
              <th scope="col">Shares Traded</th>
              <th scope="col">Last Price</th>
              <th scope="col">Shares Held</th>
            </tr>
          </thead>
          <tbody>
            {% for row in page_object.object_list %}
              <tr>
                <td><a href="/{{ ticker }}/insider/{{ row.insider }}">{{ row.insider }}</a></td>
                <td>{{ row.insider.relation }}</td>
                <td>{{ row.last_date }}</td>
                <td>{{ row.transaction_type }}</td>
                <td>{{ row.owner_type }}</td>
                <td>{{ row.shares_traded }}</td>
                <td>{{ row.last_price }}</td>
                <td>{{ row.shares_held }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Pagination -->

  {% if is_paginated %}
    <nav aria-label="..." >
      <ul class="pagination">
        <li class="page-item {% if not prev_url %} disabled {% endif %}">
        <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% for n in page_object.paginator.page_range %}
        {% if page_object.number == n %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
          </li>
          {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
          <li class="page-item">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="page-item {% if not next_url %} disabled {% endif %}">
      <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">Next</a>
    </li>
  </ul>
</nav>
{% endif %}
{% endblock %}